body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #1a1a1a;
  padding: 40px;
}

h1 {
  color: #2563eb;
}

h2 {
  color: #374151;
}

a {
  color: #16a34a;
  font-weight: bold;
}
.foto-perfil {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #2563eb;
}
.tarjeta {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   text-align: center;
}
#listaHabilidades {
  list-style: none;
  padding-left: 0;
}
#listaHabilidades li {
  margin-bottom: 6px;
}